
<mat-card class="card-busca">
  <img mat-card-image src="assets/imagens/Veneza.png" alt="Imagem Veneza">
  <ul>
    <li>Veneza Italia</li>
    <li>$R500</li>
  </ul>
  <mat-card-actions>
    <button mat-falt-button color="primary">VER DETALHES</button>
  </mat-card-actions>
</mat-card>


<mat-card class="card-busca">
<img mat-card-image src="assets/imagens/Roma.jpg" alt="Imagem Roma">
<ul>
  <li>Roma Italia</li>
  <li>$R1000</li>
</ul>
<mat-card-actions>
  <button mat-falt-button color="primary">VER DETALHES</button>
</mat-card-actions>
</mat-card>

<mat-card class="card-busca">
<img mat-card-image src="assets/imagens/Salvador.jpg" alt="Imagem Salvador">
<ul>
  <li>Slavador Bahia</li>
  <li>$R100</li>
</ul>
<mat-card-actions>
  <button mat-falt-button color="secondary">VER DETALHES</button>
</mat-card-actions>
</mat-card>
