.app-header{
  button{
    margin: 0 18px;
  }
  .spacer {
    flex: 1 1 auto;
  }
  .mat-toolbar{
    background-color: rgb(36, 4, 4);
    color: white;
    padding: 0 250px;
  }
  .mat-mdc-outlined-button:not(:disabled){
    border-color: white;
  }
}

